body {
    /* background-image: url("../images/background-min.jpg");*/
    background-size: cover;
    background-color: #cccccc;
    display: flex;
    flex-direction: column;
}

a {
    color: rgb(236, 236, 236);
}


footer {
    display: flex;
    flex-shrink: 0;
    height: 5vh;
    justify-content: flex-end;
}

#content {
    display: flex;
    height: 80vh;
    width: 100vw;
}

.grid-container {
    display: flex;
    padding-top: 5vh;
}

#calculator-container {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    border: 1px solid black;
    grid-template-columns: auto auto auto;
    background-color: white;
    column-gap: 10px;
    row-gap: 15px;
    padding: 20px;
    width: 400px;
    height: 650px;
}

#screen {
    grid-column: 1 / 5;
    background-color: black;
    position: relative;
}

.button {
    display: flex;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

#text {
    position: absolute;
    bottom: 0;
    right: 1vw;
    color: white;
    font-size: x-large ;
}



#compute {
    grid-column: 4 / 5;
    grid-row: 5 / 7;
}

#addition {
    grid-column: 4 / 5;
    grid-row: 3 / 5;  
}

#zero {
    grid-column: 1 / 3;
}